################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/edu-link-app/.vs/edu-link-app/FileContentIndex
